*{
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    background: grey;
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    column-gap: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    background: rgb(170, 169, 169);
    padding: 0;
    margin: 0;
    li{
        margin-top: 8px;
    }
}

footer{
    background: grey;
    padding: 0;
    margin: 0;
   .footer1{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
   }

   .footer2{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
   }

   .footer3{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
   }
}

body{
    padding: 2em;
}

/* Tablet */
@media (min-width: 800px) and (max-width: 1200px){
    body{
        padding-left: 10em;
        padding-right: 10em;
    }
}

/* bigger than tablet */
@media (min-width: 1200px){
    body{
        padding-left: 3em;
        padding-right: 3em;
    }
}

